.ulnobullet {
	list-style-type: none;
}

.navstyle {
	border-width: 2px;
	border-color: black;
	border-style: solid;
	background-color: #FFB4B0;
}

.ulnobullet  li{
	display: inline;
}

.left{
  background-color: #4DD7FA; 
  border-width: 2px;
  border-color: black;
  border-style: solid;	
  float: left;
  max-width: 30%;
  clear: left;
}

.right{
	background-color: #FEFAC0; 
	border-width: 2px;
  border-color: black;
  border-style: solid;
  float: right;
  width: 65%;
  clear: right;
}